<h1>Test</h1>

<svg xmlns="http://www.w3.org/2000/svg" width="800px" height="600px" viewBox="0 0 80 60">
  <g {{action 'pick'}}>
    {{svg-rects rects=rects }}
  </g>
</svg>

Color:

<svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewBox="0 0 99 99">
  <rect fill={{color}} x="0" y="0" width="100" height="100" />
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="210px" height="297px" viewBox="0 0 210 297">
  <g {{action 'pick'}}>
    <rect fill="red" x="0" y="0" width="10" height="10" />
    <rect fill="navy" x="10" y="0" width="10" height="10"  />
    <rect fill="green" x="20" y="0" width="10" height="10" />
    <rect fill="yellow" x="30" y="0" width="10" height="10" />
  </g>
</svg>

{{outlet}}
