<h1>Couch Paint</h1>

<svg xmlns="http://www.w3.org/2000/svg" width="800px" height="600px" viewBox="0 0 80 60">
  <g {{action 'paint'}}>
    {{svg-rects rects=model }}
  </g>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewBox="0 0 1 1">
  <rect fill={{color}} x="0" y="0" width="1" height="1" />
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="300px" height="300px" viewBox="0 0 18 18">
  <g {{action 'pick'}}>
    {{svg-rects rects=pick }}
  </g>
</svg>

{{outlet}}
